@model CadastroClientes.MVC.Models.ModeloCliente

@{
    ViewData["Title"] = "Cadastro";
}

<h1>Cadastrar novo cliente</h1>

<h4>Dados do cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DataNascimento" class="control-label"></label>
                        <input asp-for="DataNascimento" class="form-control" /> @*type="date" *@
                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                    </div>
                </div>
               @*<div class="col-sm-6">
                        <div class="form-group">
                            <label asp-for="Idade" class="control-label"></label>
                            <span id="IdadeCliente"> colocar aqui a idade do cliente</span>
                            <span asp-validation-for="Idade" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PoderDeDecisao" class="control-label"></label>
                            colocar aqui o simbolodo do poder de decisão
                            <span asp-validation-for="Idade" class="text-danger"></span>
                        </div>
                </div>*@
            </div>
            
         
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   @* <script>
        function TestaCPF(strCPF) {
            var Soma;
            var Resto;
            Soma = 0;
            if (strCPF == "00000000000") return false;

            for (i = 1; i <= 9; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (11 - i);
            Resto = (Soma * 10) % 11;

            if ((Resto == 10) || (Resto == 11)) Resto = 0;
            if (Resto != parseInt(strCPF.substring(9, 10))) return false;

            Soma = 0;
            for (i = 1; i <= 10; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (12 - i);
            Resto = (Soma * 10) % 11;

            if ((Resto == 10) || (Resto == 11)) Resto = 0;
            if (Resto != parseInt(strCPF.substring(10, 11))) return false;
            return true;
        }
        function ValidarCpf(){
            let x = $('#CPF')[0]

            console.log('inscrito')

            x.onchange = _ => {
                if (TestaCPF(x.value)){
                    console.log('true')
                    $('body > div > main > div > div > form > div:nth-child(2) > span')[0].innerText = ''
                }else{
                    console.log('false');
                    setTimeout(function name(params) {
                        $('body > div > main > div > div > form > div:nth-child(2) > span')[0].innerText = 'Formato do CPF INVÁLIDO'
                    }, 100)
                }
                
            } 
        }
        ValidarCpf()

    </script>*@
}
