@inherits LayoutComponentBase

<PageTitle>CadastroCliente.SPA</PageTitle>

<header>
    <nav b-1xmeknet4d="" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div b-1xmeknet4d="" class="container-fluid">
            <a class="navbar-brand" href="/">Cadastro de Clientes</a>
            <button b-1xmeknet4d="" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span b-1xmeknet4d="" class="navbar-toggler-icon"></span>
            </button>
            <div b-1xmeknet4d="" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul b-1xmeknet4d="" class="navbar-nav flex-grow-1">
                    <li b-1xmeknet4d="" class="nav-item">
                        <a class="nav-link text-dark" href="/GestaoClientes">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


    

<div b-1xmeknet4d="" class="container">
    <main b-1xmeknet4d="" role="main" class="pb-3">
        @Body
    </main>
    <footer b-1xmeknet4d="" class="border-top footer text-muted">
        <div b-1xmeknet4d="" class="container">
            © 2022 - CadastroClientes
        </div>
    </footer>
</div>




@*
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
*@